# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
.coverage
htmlcov/
.mypy_cache/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate*
*.tfvars
*.tfvars.json

# Node/OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Local env
.env
.env.*
